{% extends "base.html.twig" %}

{% block body %}
    <section class="category">
          <article>
                <h2>{{ category.designation}}</h2>
                <div class="shadow p-3 mb-5 bg-dark">
                    <div class="content">
                        <img src="{{ category.image }}" class="d-block mx-auto" width="250" alt="illustration">
                        <h4>{{ category.description }}</h4>
                    </div>
                </div>
            </article>

    </section>

{% endblock %}