{% extends "base.html.twig" %}

{% block body %}

    <h1>Connexion<img src="https://cdn.pixabay.com/photo/2017/02/20/22/29/girl-2084094_960_720.png" width=75 alt="illustration"></h1>

    <form action="{{ path('security_login') }}" method="post">
        <fieldset>
        <legend>Login</legend>

            <div class="form-group row">
              <label for="email">Enter your email</label>
                        <input type="email" class="form-control"  placeholder="Your email..." required name="_username">
                        <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="password">Enter your password</label>
                        <input type="password" class="form-control" id="" placeholder="Your password..." required name="_password">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Connexion</button>
            </div>
        </fieldset>

    </form>

{% endblock %}