{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}


        <article>
        <h2>{{ category.designation }}</h2>
        <div class="metadata"><h4>Out this Summer in the category {{ category.designation}}...</h4></div>
                <div class="shadow-sm p-3 mb-5 bg-white">
                        <button type="button" class="btn btn-primary btn-lg btn-block">
                                <img src="{{ category.image }}" width=300 alt="illustration">
                                <p class="card-text">{{ category.description }}.</p>
                        </button>
                              
                </div>
        </article>


{% endblock %}
