{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome {{ message }}! </h1>

    <h3>This friendly message is coming from:</h3>
    <section class="user">

              <article>
                <h2>{{ contact }}, The Curious & Die Neugierigen</h2>
                <div class="shadow p-3 mb-5 bg-dark">

            <div class="container">
             <div class="d-flex flex-row bg-warning m-2">
               <div class="p-2 border border-dark bg-primary"><img src="https://cdn.pixabay.com/photo/2017/02/20/22/29/girl-2084090_960_720.png" class="d-block mx-auto" width=250 alt="illustration"></div>
               <div class="p-2 border border-dark bg-primary"><img src="https://cdn.pixabay.com/photo/2017/02/20/22/28/girl-2084088_960_720.png" class="d-block mx-auto" width=250 alt="illustration"></div>
               <div class="p-2 border border-dark bg-primary"><img src="https://cdn.pixabay.com/photo/2016/12/07/17/29/girl-1889940_960_720.png" class="d-block mx-auto" width=250 alt="illustration"></div>
             </div>
           </div>
            </article>

    </section>
</div>
{% endblock %}
